http:
  routers:
    # auth
    router-auth:
      rule: "PathPrefix(`/auth`)"
      entryPoints:
        - websecure
      service: service-auth
      middlewares:
        - cors-header

    # System 子路径
    router-system:
      rule: "(PathPrefix(`/system`) || PathPrefix(`/monitor`) || PathPrefix(`/resource`))"
      entryPoints:
        - websecure
      service: service-system
      middlewares:
        - cors-header

    # demo
    router-demo:
      rule: "PathPrefix(`/demo`)"
      entryPoints:
        - websecure
      service: service-demo
      middlewares:
        - cors-header


  services:
    service-auth:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8091"

    service-system:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8092"

    service-demo:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8099"

  middlewares:
    cors-header:
      headers:
        accessControlAllowOriginList:
          - "*"
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"
        accessControlAllowHeaders:
          - "*"
        accessControlAllowCredentials: true
        addVaryHeader: true
